form{
    width: 60%;
    height: 444px;
    margin: 2% 20% 20% 20%;
    border-style: solid;
    border-radius: 12px;
  }

.lable{
    margin: 9px 4px 6px 11px;
    width: 97%;
    display: inline-grid;
    font-family: unset;
}
input{
    margin: 5px 0px;
    border-style: solid;
}